In [1]:
import requests

from bs4 import BeautifulSoup

base_site = 'https://www.espncricinfo.com/rankings/content/page/211271.html'

response = requests.get(base_site)
response

In [2]:
html = response.text
soup = BeautifulSoup(html,"html.parser")

In [3]:
tables = soup.find_all("table",{"class":"StoryengineTable"})

In [4]:
tables

[<table class="StoryengineTable">
 <caption>23 June 2021</caption>
 <tr class="head">
 <th class="left">Pos</th>
 <th class="left">Team</th>
 <th class="left">Matches</th>
 <th class="left">Points</th>
 <th class="left">Rating</th>
 </tr>
 <tr>
 <td class="left">1</td>
 <td class="left">New Zealand</td>
 <td class="left">22</td>
 <td class="left">2764</td>
 <td class="left">126</td>
 </tr>
 <tr>
 <td class="left">2</td>
 <td class="left">India</td>
 <td class="left">25</td>
 <td class="left">2987</td>
 <td class="left">119</td>
 </tr>
 <tr>
 <td class="left">3</td>
 <td class="left">Australia</td>
 <td class="left">17</td>
 <td class="left">1844</td>
 <td class="left">108</td>
 </tr>
 <tr>
 <td class="left">4</td>
 <td class="left">England</td>
 <td class="left">35</td>
 <td class="left">3753</td>
 <td class="left">107</td>
 </tr>
 <tr>
 <td class="left">5</td>
 <td class="left">Pakistan</td>
 <td class="left">24</td>
 <td class="left">2247</td>
 <td class="left">94</td>
 </tr>
 <tr>
 <td class="left">6</td>
 <td class="left">South Africa</td>
 <td class="left">19</td>
 <td class="left">1675</td>
 <td class="left">88</td>
 </tr>
 <tr>
 <td class="left">7</td>
 <td class="left">West Indies</td>
 <td class="left">27</td>
 <td class="left">2114</td>
 <td class="left">78</td>
 </tr>
 <tr>
 <td class="left">8</td>
 <td class="left">Sri Lanka</td>
 <td class="left">27</td>
 <td class="left">2095</td>
 <td class="left">78</td>
 </tr>
 <tr>
 <td class="left">9</td>
 <td class="left">Bangladesh</td>
 <td class="left">15</td>
 <td class="left">694</td>
 <td class="left">46</td>
 </tr>
 <tr>
 <td class="left">10</td>
 <td class="left">Zimbabwe</td>
 <td class="left">10</td>
 <td class="left">346</td>
 <td class="left">35</td>
 </tr>
 </table>,
 <table class="StoryengineTable">
 <caption>10 July 2021</caption>
 <tr class="head">
 <th class="left">Pos</th>
 <th class="left">Team</th>
 <th class="left">Matches</th>
 <th class="left">Points</th>
 <th class="left">Rating</th>
 </tr>
 <tr>
 <td class="left">1</td>
 <td class="left">New Zealand</td>
 <td class="left">17</td>
 <td class="left">2054</td>
 <td class="left">121</td>
 </tr>
 <tr>
 <td class="left">2</td>
 <td class="left">Australia</td>
 <td class="left">25</td>
 <td class="left">2945</td>
 <td class="left">118</td>
 </tr>
 <tr>
 <td class="left">3</td>
 <td class="left">England</td>
 <td class="left">31</td>
 <td class="left">3649</td>
 <td class="left">118</td>
 </tr>
 <tr>
 <td class="left">4</td>
 <td class="left">India</td>
 <td class="left">29</td>
 <td class="left">3344</td>
 <td class="left">115</td>
 </tr>
 <tr>
 <td class="left">5</td>
 <td class="left">South Africa</td>
 <td class="left">20</td>
 <td class="left">2137</td>
 <td class="left">107</td>
 </tr>
 <tr>
 <td class="left">6</td>
 <td class="left">Pakistan</td>
 <td class="left">26</td>
 <td class="left">2456</td>
 <td class="left">94</td>
 </tr>
 <tr>
 <td class="left">7</td>
 <td class="left">Bangladesh</td>
 <td class="left">27</td>
 <td class="left">2438</td>
 <td class="left">90</td>
 </tr>
 <tr>
 <td class="left">8</td>
 <td class="left">West Indies</td>
 <td class="left">27</td>
 <td class="left">2222</td>
 <td class="left">82</td>
 </tr>
 <tr>
 <td class="left">9</td>
 <td class="left">Sri Lanka</td>
 <td class="left">26</td>
 <td class="left">2006</td>
 <td class="left">77</td>
 </tr>
 <tr>
 <td class="left">10</td>
 <td class="left">Afghanistan</td>
 <td class="left">17</td>
 <td class="left">1054</td>
 <td class="left">62</td>
 </tr>
 <tr>
 <td class="left">11</td>
 <td class="left">Netherlands</td>
 <td class="left">7</td>
 <td class="left">336</td>
 <td class="left">48</td>
 </tr>
 <tr>
 <td class="left">12</td>
 <td class="left">Ireland</td>
 <td class="left">21</td>
 <td class="left">897</td>
 <td class="left">43</td>
 </tr>
 <tr>
 <td class="left">13</td>
 <td class="left">Zimbabwe</td>
 <td class="left">15</td>
 <td class="left">588</td>
 <td class="left">39</td>
 </tr>
 <tr>
 <td class="left">14</td>
 <td class="left">Scotland</td>
 <td class="left">7</td>
 <td class="left">258</td>
 <td class="left">37</td>
 </tr>
 <tr>
 <td class="left">15</td>
 <td class="left">Oman</td>
 <td class="left">7</td>
 <td class="left">240</td>
 <td class="left">34</td>
 </tr>
 <tr>
 <td class="left">16</td>
 <td class="left">Nepal</td>
 <td class="left">5</td>
 <td class="left">119</td>
 <td class="left">24</td>
 </tr>
 <tr>
 <td class="left">17</td>
 <td class="left">UAE</td>
 <td class="left">9</td>
 <td class="left">190</td>
 <td class="left">21</td>
 </tr>
 <tr>
 <td class="left">18</td>
 <td class="left">Namibia</td>
 <td class="left">6</td>
 <td class="left">97</td>
 <td class="left">16</td>
 </tr>
 <tr>
 <td class="left">19</td>
 <td class="left">USA</td>
 <td class="left">8</td>
 <td class="left">93</td>
 <td class="left">12</td>
 </tr>
 <tr>
 <td class="left">20</td>
 <td class="left">PNG</td>
 <td class="left">5</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 </table>,
 <table class="StoryengineTable">
 <caption>10 July 2021</caption>
 <tr class="head">
 <th class="left">Pos</th>
 <th class="left">Team</th>
 <th class="left">Matches</th>
 <th class="left">Points</th>
 <th class="left">Rating</th>
 </tr>
 <tr>
 <td class="left">1</td>
 <td class="left">England</td>
 <td class="left">25</td>
 <td class="left">6950</td>
 <td class="left">278</td>
 </tr>
 <tr>
 <td class="left">2</td>
 <td class="left">India</td>
 <td class="left">25</td>
 <td class="left">6811</td>
 <td class="left">272</td>
 </tr>
 <tr>
 <td class="left">3</td>
 <td class="left">New Zealand</td>
 <td class="left">23</td>
 <td class="left">6048</td>
 <td class="left">263</td>
 </tr>
 <tr>
 <td class="left">4</td>
 <td class="left">Pakistan</td>
 <td class="left">30</td>
 <td class="left">7818</td>
 <td class="left">261</td>
 </tr>
 <tr>
 <td class="left">5</td>
 <td class="left">Australia</td>
 <td class="left">24</td>
 <td class="left">6105</td>
 <td class="left">254</td>
 </tr>
 <tr>
 <td class="left">6</td>
 <td class="left">South Africa</td>
 <td class="left">24</td>
 <td class="left">5874</td>
 <td class="left">245</td>
 </tr>
 <tr>
 <td class="left">7</td>
 <td class="left">Afghanistan</td>
 <td class="left">12</td>
 <td class="left">2826</td>
 <td class="left">236</td>
 </tr>
 <tr>
 <td class="left">8</td>
 <td class="left">West Indies</td>
 <td class="left">24</td>
 <td class="left">5477</td>
 <td class="left">228</td>
 </tr>
 <tr>
 <td class="left">9</td>
 <td class="left">Sri Lanka</td>
 <td class="left">16</td>
 <td class="left">3607</td>
 <td class="left">225</td>
 </tr>
 <tr>
 <td class="left">10</td>
 <td class="left">Bangladesh</td>
 <td class="left">13</td>
 <td class="left">2921</td>
 <td class="left">225</td>
 </tr>
 <tr>
 <td class="left">11</td>
 <td class="left">Zimbabwe</td>
 <td class="left">19</td>
 <td class="left">3628</td>
 <td class="left">191</td>
 </tr>
 <tr>
 <td class="left">12</td>
 <td class="left">Ireland</td>
 <td class="left">18</td>
 <td class="left">3388</td>
 <td class="left">188</td>
 </tr>
 <tr>
 <td class="left">13</td>
 <td class="left">Nepal</td>
 <td class="left">19</td>
 <td class="left">3556</td>
 <td class="left">187</td>
 </tr>
 <tr>
 <td class="left">14</td>
 <td class="left">Scotland</td>
 <td class="left">11</td>
 <td class="left">2035</td>
 <td class="left">185</td>
 </tr>
 <tr>
 <td class="left">15</td>
 <td class="left">UAE</td>
 <td class="left">11</td>
 <td class="left">2023</td>
 <td class="left">184</td>
 </tr>
 <tr>
 <td class="left">16</td>
 <td class="left">PNG</td>
 <td class="left">14</td>
 <td class="left">2501</td>
 <td class="left">179</td>
 </tr>
 <tr>
 <td class="left">17</td>
 <td class="left">Netherlands</td>
 <td class="left">20</td>
 <td class="left">3504</td>
 <td class="left">175</td>
 </tr>
 <tr>
 <td class="left">18</td>
 <td class="left">Oman</td>
 <td class="left">10</td>
 <td class="left">1732</td>
 <td class="left">173</td>
 </tr>
 <tr>
 <td class="left">19</td>
 <td class="left">Namibia</td>
 <td class="left">14</td>
 <td class="left">2204</td>
 <td class="left">157</td>
 </tr>
 <tr>
 <td class="left">20</td>
 <td class="left">Singapore</td>
 <td class="left">12</td>
 <td class="left">1678</td>
 <td class="left">140</td>
 </tr>
 <tr>
 <td class="left">21</td>
 <td class="left">Qatar</td>
 <td class="left">11</td>
 <td class="left">1422</td>
 <td class="left">129</td>
 </tr>
 <tr>
 <td class="left">22</td>
 <td class="left">Canada</td>
 <td class="left">10</td>
 <td class="left">1263</td>
 <td class="left">126</td>
 </tr>
 <tr>
 <td class="left">23</td>
 <td class="left">Hong Kong</td>
 <td class="left">13</td>
 <td class="left">1572</td>
 <td class="left">121</td>
 </tr>
 <tr>
 <td class="left">24</td>
 <td class="left">Jersey</td>
 <td class="left">13</td>
 <td class="left">1481</td>
 <td class="left">114</td>
 </tr>
 <tr>
 <td class="left">25</td>
 <td class="left">Kenya</td>
 <td class="left">8</td>
 <td class="left">894</td>
 <td class="left">112</td>
 </tr>
 <tr>
 <td class="left">26</td>
 <td class="left">Italy</td>
 <td class="left">10</td>
 <td class="left">1100</td>
 <td class="left">110</td>
 </tr>
 <tr>
 <td class="left">27</td>
 <td class="left">Kuwait</td>
 <td class="left">6</td>
 <td class="left">663</td>
 <td class="left">111</td>
 </tr>
 <tr>
 <td class="left">28</td>
 <td class="left">Saudi Arabia</td>
 <td class="left">4</td>
 <td class="left">428</td>
 <td class="left">107</td>
 </tr>
 <tr>
 <td class="left">29</td>
 <td class="left">Denmark</td>
 <td class="left">6</td>
 <td class="left">606</td>
 <td class="left">101</td>
 </tr>
 <tr>
 <td class="left">30</td>
 <td class="left">Bermuda</td>
 <td class="left">6</td>
 <td class="left">568</td>
 <td class="left">95</td>
 </tr>
 <tr>
 <td class="left">31</td>
 <td class="left">Malaysia</td>
 <td class="left">20</td>
 <td class="left">1723</td>
 <td class="left">86</td>
 </tr>
 <tr>
 <td class="left">32</td>
 <td class="left">Uganda</td>
 <td class="left">10</td>
 <td class="left">847</td>
 <td class="left">87</td>
 </tr>
 <tr>
 <td class="left">33</td>
 <td class="left">Germany</td>
 <td class="left">9</td>
 <td class="left">759</td>
 <td class="left">84</td>
 </tr>
 <tr>
 <td class="left">34</td>
 <td class="left">USA</td>
 <td class="left">8</td>
 <td class="left">644</td>
 <td class="left">81</td>
 </tr>
 <tr>
 <td class="left">35</td>
 <td class="left">Botswana</td>
 <td class="left">10</td>
 <td class="left">786</td>
 <td class="left">79</td>
 </tr>
 <tr>
 <td class="left">36</td>
 <td class="left">Nigeria</td>
 <td class="left">5</td>
 <td class="left">375</td>
 <td class="left">75</td>
 </tr>
 <tr>
 <td class="left">37</td>
 <td class="left">Guernsey</td>
 <td class="left">9</td>
 <td class="left">645</td>
 <td class="left">72</td>
 </tr>
 <tr>
 <td class="left">38</td>
 <td class="left">Norway</td>
 <td class="left">5</td>
 <td class="left">355</td>
 <td class="left">71</td>
 </tr>
 <tr>
 <td class="left">39</td>
 <td class="left">Austria</td>
 <td class="left">10</td>
 <td class="left">639</td>
 <td class="left">64</td>
 </tr>
 <tr>
 <td class="left">40</td>
 <td class="left">Romania</td>
 <td class="left">13</td>
 <td class="left">826</td>
 <td class="left">64</td>
 </tr>
 <tr>
 <td class="left">41</td>
 <td class="left">Spain</td>
 <td class="left">8</td>
 <td class="left">457</td>
 <td class="left">57</td>
 </tr>
 <tr>
 <td class="left">42</td>
 <td class="left">Bahrain</td>
 <td class="left">4</td>
 <td class="left">227</td>
 <td class="left">57</td>
 </tr>
 <tr>
 <td class="left">43</td>
 <td class="left">Tanzania</td>
 <td class="left">3</td>
 <td class="left">167</td>
 <td class="left">56</td>
 </tr>
 <tr>
 <td class="left">44</td>
 <td class="left">Belgium</td>
 <td class="left">14</td>
 <td class="left">729</td>
 <td class="left">52</td>
 </tr>
 <tr>
 <td class="left">45</td>
 <td class="left">Philippines</td>
 <td class="left">5</td>
 <td class="left">241</td>
 <td class="left">48</td>
 </tr>
 <tr>
 <td class="left">46</td>
 <td class="left">Mexico</td>
 <td class="left">7</td>
 <td class="left">313</td>
 <td class="left">45</td>
 </tr>
 <tr>
 <td class="left">47</td>
 <td class="left">Cayman Islands</td>
 <td class="left">3</td>
 <td class="left">132</td>
 <td class="left">44</td>
 </tr>
 <tr>
 <td class="left">48</td>
 <td class="left">Vanuatu</td>
 <td class="left">10</td>
 <td class="left">435</td>
 <td class="left">44</td>
 </tr>
 <tr>
 <td class="left">49</td>
 <td class="left">Belize</td>
 <td class="left">5</td>
 <td class="left">209</td>
 <td class="left">42</td>
 </tr>
 <tr>
 <td class="left">50</td>
 <td class="left">Argentina</td>
 <td class="left">5</td>
 <td class="left">206</td>
 <td class="left">41</td>
 </tr>
 <tr>
 <td class="left">51</td>
 <td class="left">Peru</td>
 <td class="left">5</td>
 <td class="left">179</td>
 <td class="left">36</td>
 </tr>
 <tr>
 <td class="left">52</td>
 <td class="left">Malta</td>
 <td class="left">12</td>
 <td class="left">424</td>
 <td class="left">35</td>
 </tr>
 <tr>
 <td class="left">53</td>
 <td class="left">Fiji</td>
 <td class="left">3</td>
 <td class="left">105</td>
 <td class="left">35</td>
 </tr>
 <tr>
 <td class="left">54</td>
 <td class="left">Malawi</td>
 <td class="left">9</td>
 <td class="left">312</td>
 <td class="left">35</td>
 </tr>
 <tr>
 <td class="left">55</td>
 <td class="left">Panama</td>
 <td class="left">5</td>
 <td class="left">162</td>
 <td class="left">32</td>
 </tr>
 <tr>
 <td class="left">56</td>
 <td class="left">Samoa</td>
 <td class="left">5</td>
 <td class="left">159</td>
 <td class="left">32</td>
 </tr>
 <tr>
 <td class="left">57</td>
 <td class="left">Japan</td>
 <td class="left">4</td>
 <td class="left">126</td>
 <td class="left">32</td>
 </tr>
 <tr>
 <td class="left">58</td>
 <td class="left">Costa Rica</td>
 <td class="left">4</td>
 <td class="left">126</td>
 <td class="left">32</td>
 </tr>
 <tr>
 <td class="left">59</td>
 <td class="left">Luxembourg</td>
 <td class="left">12</td>
 <td class="left">358</td>
 <td class="left">30</td>
 </tr>
 <tr>
 <td class="left">60</td>
 <td class="left">Thailand</td>
 <td class="left">7</td>
 <td class="left">175</td>
 <td class="left">25</td>
 </tr>
 <tr>
 <td class="left">61</td>
 <td class="left">Bulgaria</td>
 <td class="left">13</td>
 <td class="left">313</td>
 <td class="left">24</td>
 </tr>
 <tr>
 <td class="left">62</td>
 <td class="left">Portugal</td>
 <td class="left">5</td>
 <td class="left">119</td>
 <td class="left">24</td>
 </tr>
 <tr>
 <td class="left">63</td>
 <td class="left">Czech Republic</td>
 <td class="left">16</td>
 <td class="left">356</td>
 <td class="left">22</td>
 </tr>
 <tr>
 <td class="left">64</td>
 <td class="left">Finland</td>
 <td class="left">5</td>
 <td class="left">106</td>
 <td class="left">21</td>
 </tr>
 <tr>
 <td class="left">65</td>
 <td class="left">South Korea</td>
 <td class="left">4</td>
 <td class="left">78</td>
 <td class="left">20</td>
 </tr>
 <tr>
 <td class="left">66</td>
 <td class="left">Mozambique</td>
 <td class="left">9</td>
 <td class="left">175</td>
 <td class="left">19</td>
 </tr>
 <tr>
 <td class="left">67</td>
 <td class="left">Isle of Man</td>
 <td class="left">4</td>
 <td class="left">77</td>
 <td class="left">19</td>
 </tr>
 <tr>
 <td class="left">68</td>
 <td class="left">Greece</td>
 <td class="left">5</td>
 <td class="left">94</td>
 <td class="left">19</td>
 </tr>
 <tr>
 <td class="left">69</td>
 <td class="left">Bhutan</td>
 <td class="left">4</td>
 <td class="left">47</td>
 <td class="left">12</td>
 </tr>
 <tr>
 <td class="left">70</td>
 <td class="left">Maldives</td>
 <td class="left">7</td>
 <td class="left">65</td>
 <td class="left">9</td>
 </tr>
 <tr>
 <td class="left">71</td>
 <td class="left">St Helena</td>
 <td class="left">6</td>
 <td class="left">55</td>
 <td class="left">9</td>
 </tr>
 <tr>
 <td class="left">72</td>
 <td class="left">Brazil</td>
 <td class="left">5</td>
 <td class="left">39</td>
 <td class="left">8</td>
 </tr>
 <tr>
 <td class="left">73</td>
 <td class="left">Chile</td>
 <td class="left">5</td>
 <td class="left">19</td>
 <td class="left">4</td>
 </tr>
 <tr>
 <td class="left">74</td>
 <td class="left">Gibraltar</td>
 <td class="left">5</td>
 <td class="left">13</td>
 <td class="left">3</td>
 </tr>
 <tr>
 <td class="left">75</td>
 <td class="left">Myanmar</td>
 <td class="left">3</td>
 <td class="left">1</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">76</td>
 <td class="left">China</td>
 <td class="left">4</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">77</td>
 <td class="left">Turkey</td>
 <td class="left">3</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">78</td>
 <td class="left">Eswatini</td>
 <td class="left">3</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">79</td>
 <td class="left">Serbia</td>
 <td class="left">5</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">80</td>
 <td class="left">Rwanda</td>
 <td class="left">3</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">81</td>
 <td class="left">Lesotho</td>
 <td class="left">3</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 <tr>
 <td class="left">82</td>
 <td class="left">Indonesia</td>
 <td class="left">3</td>
 <td class="left">0</td>
 <td class="left">0</td>
 </tr>
 </table>,
 <table class="StoryengineTable">
 <caption>09 July 2021</caption>
 <tr class="head">
 <th class="left">Pos</th>
 <th class="left">Team</th>
 <th class="left">Matches</th>
 <th class="left">Points</th>
 <th class="left">Rating</th>
 </tr>
 <tr>
 <td class="left">1</td>
 <td class="left">Australia Women</td>
 <td class="left">18</td>
 <td class="left">2955</td>
 <td class="left">164</td>
 </tr>
 <tr>
 <td class="left">2</td>
 <td class="left">England Women</td>
 <td class="left">20</td>
 <td class="left">2370</td>
 <td class="left">119</td>
 </tr>
 <tr>
 <td class="left">3</td>
 <td class="left">South Africa Women</td>
 <td class="left">24</td>
 <td class="left">2828</td>
 <td class="left">118</td>
 </tr>
 <tr>
 <td class="left">4</td>
 <td class="left">India Women</td>
 <td class="left">23</td>
 <td class="left">2535</td>
 <td class="left">110</td>
 </tr>
 <tr>
 <td class="left">5</td>
 <td class="left">New Zealand Women</td>
 <td class="left">21</td>
 <td class="left">1947</td>
 <td class="left">93</td>
 </tr>
 <tr>
 <td class="left">6</td>
 <td class="left">West Indies Women</td>
 <td class="left">14</td>
 <td class="left">1269</td>
 <td class="left">91</td>
 </tr>
 <tr>
 <td class="left">7</td>
 <td class="left">Pakistan Women</td>
 <td class="left">17</td>
 <td class="left">1174</td>
 <td class="left">69</td>
 </tr>
 <tr>
 <td class="left">8</td>
 <td class="left">Bangladesh Women</td>
 <td class="left">5</td>
 <td class="left">306</td>
 <td class="left">61</td>
 </tr>
 <tr>
 <td class="left">9</td>
 <td class="left">Sri Lanka Women</td>
 <td class="left">11</td>
 <td class="left">519</td>
 <td class="left">47</td>
 </tr>
 <tr>
 <td class="left">10</td>
 <td class="left">Ireland Women</td>
 <td class="left">2</td>
 <td class="left">25</td>
 <td class="left">13</td>
 </tr>
 </table>,
 <table class="StoryengineTable">
 <caption>10 July 2021</caption>
 <tr class="head">
 <th class="left">Pos</th>
 <th class="left">Team</th>
 <th class="left">Matches</th>
 <th class="left">Points</th>
 <th class="left">Rating</th>
 </tr>
 <tr>
 <td class="left">1</td>
 <td class="left">Australia Women</td>
 <td class="left">31</td>
 <td class="left">8967</td>
 <td class="left">289</td>
 </tr>
 <tr>
 <td class="left">2</td>
 <td class="left">England Women</td>
 <td class="left">34</td>
 <td class="left">9675</td>
 <td class="left">285</td>
 </tr>
 <tr>
 <td class="left">3</td>
 <td class="left">New Zealand Women</td>
 <td class="left">28</td>
 <td class="left">7474</td>
 <td class="left">267</td>
 </tr>
 <tr>

In [5]:
test_rank = tables[0]

In [6]:
test_rank

<table class="StoryengineTable">
<caption>23 June 2021</caption>
<tr class="head">
<th class="left">Pos</th>
<th class="left">Team</th>
<th class="left">Matches</th>
<th class="left">Points</th>
<th class="left">Rating</th>
</tr>
<tr>
<td class="left">1</td>
<td class="left">New Zealand</td>
<td class="left">22</td>
<td class="left">2764</td>
<td class="left">126</td>
</tr>
<tr>
<td class="left">2</td>
<td class="left">India</td>
<td class="left">25</td>
<td class="left">2987</td>
<td class="left">119</td>
</tr>
<tr>
<td class="left">3</td>
<td class="left">Australia</td>
<td class="left">17</td>
<td class="left">1844</td>
<td class="left">108</td>
</tr>
<tr>
<td class="left">4</td>
<td class="left">England</td>
<td class="left">35</td>
<td class="left">3753</td>
<td class="left">107</td>
</tr>
<tr>
<td class="left">5</td>
<td class="left">Pakistan</td>
<td class="left">24</td>
<td class="left">2247</td>
<td class="left">94</td>
</tr>
<tr>
<td class="left">6</td>
<td class="left">South Africa</td>
<td class="left">19</td>
<td class="left">1675</td>
<td class="left">88</td>
</tr>
<tr>
<td class="left">7</td>
<td class="left">West Indies</td>
<td class="left">27</td>
<td class="left">2114</td>
<td class="left">78</td>
</tr>
<tr>
<td class="left">8</td>
<td class="left">Sri Lanka</td>
<td class="left">27</td>
<td class="left">2095</td>
<td class="left">78</td>
</tr>
<tr>
<td class="left">9</td>
<td class="left">Bangladesh</td>
<td class="left">15</td>
<td class="left">694</td>
<td class="left">46</td>
</tr>
<tr>
<td class="left">10</td>
<td class="left">Zimbabwe</td>
<td class="left">10</td>
<td class="left">346</td>
<td class="left">35</td>
</tr>
</table>

In [7]:
tr = test_rank.find_all("tr")

In [8]:
tr

[<tr class="head">
 <th class="left">Pos</th>
 <th class="left">Team</th>
 <th class="left">Matches</th>
 <th class="left">Points</th>
 <th class="left">Rating</th>
 </tr>,
 <tr>
 <td class="left">1</td>
 <td class="left">New Zealand</td>
 <td class="left">22</td>
 <td class="left">2764</td>
 <td class="left">126</td>
 </tr>,
 <tr>
 <td class="left">2</td>
 <td class="left">India</td>
 <td class="left">25</td>
 <td class="left">2987</td>
 <td class="left">119</td>
 </tr>,
 <tr>
 <td class="left">3</td>
 <td class="left">Australia</td>
 <td class="left">17</td>
 <td class="left">1844</td>
 <td class="left">108</td>
 </tr>,
 <tr>
 <td class="left">4</td>
 <td class="left">England</td>
 <td class="left">35</td>
 <td class="left">3753</td>
 <td class="left">107</td>
 </tr>,
 <tr>
 <td class="left">5</td>
 <td class="left">Pakistan</td>
 <td class="left">24</td>
 <td class="left">2247</td>
 <td class="left">94</td>
 </tr>,
 <tr>
 <td class="left">6</td>
 <td class="left">South Africa</td>
 <td class="left">19</td>
 <td class="left">1675</td>
 <td class="left">88</td>
 </tr>,
 <tr>
 <td class="left">7</td>
 <td class="left">West Indies</td>
 <td class="left">27</td>
 <td class="left">2114</td>
 <td class="left">78</td>
 </tr>,
 <tr>
 <td class="left">8</td>
 <td class="left">Sri Lanka</td>
 <td class="left">27</td>
 <td class="left">2095</td>
 <td class="left">78</td>
 </tr>,
 <tr>
 <td class="left">9</td>
 <td class="left">Bangladesh</td>
 <td class="left">15</td>
 <td class="left">694</td>
 <td class="left">46</td>
 </tr>,
 <tr>
 <td class="left">10</td>
 <td class="left">Zimbabwe</td>
 <td class="left">10</td>
 <td class="left">346</td>
 <td class="left">35</td>
 </tr>]

In [9]:
test = []
for i in tr:
    if i.find_all("th") != []:
        test.append([i.text for i in i.find_all("th")])
    elif i.find_all("td") != []:
        test.append([i.text for i in i.find_all("td")])
test

[['Pos', 'Team', 'Matches', 'Points', 'Rating'],
 ['1', 'New Zealand', '22', '2764', '126'],
 ['2', 'India', '25', '2987', '119'],
 ['3', 'Australia', '17', '1844', '108'],
 ['4', 'England', '35', '3753', '107'],
 ['5', 'Pakistan', '24', '2247', '94'],
 ['6', 'South Africa', '19', '1675', '88'],
 ['7', 'West Indies', '27', '2114', '78'],
 ['8', 'Sri Lanka', '27', '2095', '78'],
 ['9', 'Bangladesh', '15', '694', '46'],
 ['10', 'Zimbabwe', '10', '346', '35']]

In [10]:
heading = [i.text for i in soup.find_all("h3")]

In [14]:
    import pandas as pd

In [21]:
ranking_dict = {
    
}
for i in range(len(tables)):
    table = tables[i]
    tr = table.find_all('tr')
    test = []
    for j in tr:
        if j.find_all("th") != []:
            test.append([i.text for i in j.find_all("th")])
        elif j.find_all("td") != []:
            test.append([i.text for i in j.find_all("td")])
        
    ranking = pd.DataFrame(test[1:],columns = test[0])    
    ranking_dict[heading[i]] = ranking

In [23]:
ranking_dict['ICC Twenty20 Rankings']

   Pos         Team Matches Points Rating
0    1      England      25   6950    278
1    2        India      25   6811    272
2    3  New Zealand      23   6048    263
3    4     Pakistan      30   7818    261
4    5    Australia      24   6105    254
..  ..          ...     ...    ...    ...
77  78     Eswatini       3      0      0
78  79       Serbia       5      0      0
79  80       Rwanda       3      0      0
80  81      Lesotho       3      0      0
81  82    Indonesia       3      0      0

[82 rows x 5 columns]

In [25]:
writer = pd.ExcelWriter("cricology.xlsx", engine = "xlsxwriter")

for k,v in ranking_dict.items():
    v.to_excel(writer,sheet_name = k,index = False)
writer.save()