## 1st Class
    * integer, float, string
    * print(), type()
    * Arithmetic Operatoe (+,-,*,/,%,**,//)

## Integer
    * 4,5,22,45

## Float
    * 1.2, 4.5, 6.5, 6.0

# String 
    * "Muzamil2021@gmail.com", "Muzamil"

In [1]:
print(45)

In [2]:
print(2.5)

In [3]:
print("Ali")

In [4]:
print('ali1999@gmail.com')

ali1999@gmail.com

In [5]:
print(type(45))

<class 'int'>

In [6]:
print(type(4.5))

<class 'float'>

In [7]:
print(type("ali"))

<class 'str'>

In [8]:
print(2+2)

4

In [9]:
print(2+2.2)

4.2

In [10]:
print(4*2)

8

In [11]:
print(4-2)

2

In [12]:
print(5/2)

2.5

In [13]:
print(5//2)

2

In [14]:
print( 5%2 )

1

In [15]:
print(23%7)

2

In [16]:
print(2**3)

8

# PEMDAS 
    * P = ()
    * E = **
    * M = *
    * D = /,//,%
    * A = +
    * S = -

In [17]:
print(4+4)
5+2

8

7

In [18]:
type(45)

int

In [19]:
print(type(45))

<class 'int'>

In [20]:
"danial"

'danial'

In [21]:
print("danial")
13*4

danial

52

In [22]:
3**2 + (5+8) * 4-5 
# 3**2 + 13 * 4-5 
# 9 + 13 * 4-5 
# 9 + 52 - 5 
# 61 - 5

56

In [23]:
print(25%2 + 3**2)

10