## Variable Declaration and Initialization Syntax
    * variable_name = value
    * = assignment operator

In [1]:
value = 3**2 + (5+8) * 4-5

In [2]:
value

56

In [3]:
num1 = 45
num2 = 55
total = num1 + num2 # 45 + 55
total

100

In [4]:
employee_name = "Muzamil"
employee_age = 19
employee_salary = 45000.0

In [5]:
print(employee_name, employee_age, employee_salary)

Muzamil 19 45000.0

# Legal Variable
    * Must begin with a letter (a-z,A-Z) or underscore _
    * other characters can be letter, number or _

In [6]:
1st_postion = "Abdullah"

SyntaxError: invalid syntax (<ipython-input-6-f847c1ac1751>, line 1)

In [ ]:
_postion1st = "Abdullah"
_postion1st

# Special Assignment

In [ ]:
# +=, -=, *=

In [ ]:
num1 = 45
num1

In [ ]:
num1 + 5
num1

In [ ]:
num1 = num1 + 5
num1

In [ ]:
num1 += 5 # num1 = num1 + 5
# num1 + 5 : 55
# num1 = 55
num1

In [ ]:
num1 /= 5
num1

# TypeCasting

In [7]:
float(4)

4.0

In [8]:
int(5.4)

5

In [9]:
int("ali")

ValueError: invalid literal for int() with base 10: 'ali'

In [10]:
float("5.4")

5.4

In [11]:
float("@45")

ValueError: could not convert string to float: '@45'

In [12]:
str(4.5)

'4.5'

In [15]:
float("4.5") + 5

9.5

In [16]:
"ali" + "ahmed"

'aliahmed'

In [2]:
!jt -r

Reset css and font defaults in:
C:\Users\M.Z COMPUTER\.jupyter\custom &
C:\Users\M.Z COMPUTER\AppData\Roaming\jupyter\nbextensions

In [3]:
!jt -t oceans16 -T -N