In [1]:
employee_name = "Ali"
employee_salary = 50000
employee_age = 22

In [2]:
300 * 3

900

In [7]:
employee1 = ["Abdullah",23,45000,"Male"]
employee1

['Abdullah', 23, 45000, 'Male']

In [4]:
employee2 = ["Ayyan", 15, 60000]
employee2

['Ayyan', 15, 60000]

In [5]:
employee3 = ["Aliza", 40000]
employee3

['Aliza', 40000]

In [6]:
employee4 = ["Ayesha", 50000]
employee4

['Ayesha', 50000]

In [9]:
# list.append()
employee2.append("Male")

In [10]:
employee2

['Ayyan', 15, 60000, 'Male']

In [11]:
employee3.append("Female")
employee4.append("Female")

In [12]:
employee3

['Aliza', 40000, 'Female']

In [13]:
employee4

['Ayesha', 50000, 'Female']

# We have 2 type of indexing
    * Positive (that starts from 0) direction : left to right
    * negative (that starts from -1) direction : right to left

In [15]:
employee1[2]

45000

In [17]:
employee2[-2]

60000

In [21]:
employee3[-1]

'Female'

In [23]:
employee2

['Ayyan', 15, 60000, 'Male']

In [26]:
employee2[1:4]

[15, 60000, 'Male']

In [28]:
employee2[0:3]

['Ayyan', 15, 60000]

In [29]:
# Update

In [32]:
employee2[0] = "Muhammad Ayyan"

In [33]:
employee2

['Muhammad Ayyan', 15, 60000, 'Male']

In [34]:
employee2.insert(2, "Karachi")
employee2

['Muhammad Ayyan', 15, 'Karachi', 60000, 'Male']

In [36]:
# employee2.pop(2)
del employee2[2]

In [37]:
employee2

['Muhammad Ayyan', 15, 60000, 'Male']

In [38]:
lst = ["Danial",22,40000,["NED","TECHMAZONE"]]
lst

['Danial', 22, 40000, ['NED', 'TECHMAZONE']]

In [41]:
lst[-1][0] = "NED UNIVERSITY"

In [42]:
lst

['Danial', 22, 40000, ['NED UNIVERSITY', 'TECHMAZONE']]

In [45]:
lst[3][0]

'NED UNIVERSITY'

In [46]:
employee1

['Abdullah', 23, 45000, 'Male']

# list of lists

In [48]:
employees = [employee1,employee2,employee3,employee4]
employees

[['Abdullah', 23, 45000, 'Male'],
 ['Muhammad Ayyan', 15, 60000, 'Male'],
 ['Aliza', 40000, 'Female'],
 ['Ayesha', 50000, 'Female']]

In [50]:
employees[0].append("Karachi") # employees[0].extend(["Karachi","Lahore"])

In [51]:
employees[1].append("Karachi")

In [52]:
employees[2].append("Lahore")

In [53]:
employees[-1].append("Karachi")

In [54]:
employees

[['Abdullah', 23, 45000, 'Male', 'Karachi'],
 ['Muhammad Ayyan', 15, 60000, 'Male', 'Karachi'],
 ['Aliza', 40000, 'Female', 'Lahore'],
 ['Ayesha', 50000, 'Female', 'Karachi']]

In [55]:
employees[-1]

['Ayesha', 50000, 'Female', 'Karachi']

# For Loop

In [61]:
for i in range(0,21,1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [63]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [69]:
employees

[['Abdullah', 23, 45000, 'Male', 'Karachi'],
 ['Muhammad Ayyan', 15, 60000, 'Male', 'Karachi'],
 ['Aliza', 40000, 'Female', 'Lahore'],
 ['Ayesha', 50000, 'Female', 'Karachi']]

In [71]:
for i in range(4):
    print(employees[i][-3])

45000
60000
40000
50000

In [72]:
employees

[['Abdullah', 23, 45000, 'Male', 'Karachi'],
 ['Muhammad Ayyan', 15, 60000, 'Male', 'Karachi'],
 ['Aliza', 40000, 'Female', 'Lahore'],
 ['Ayesha', 50000, 'Female', 'Karachi']]

In [73]:
for i in employees:
    print(i)

['Abdullah', 23, 45000, 'Male', 'Karachi']
['Muhammad Ayyan', 15, 60000, 'Male', 'Karachi']
['Aliza', 40000, 'Female', 'Lahore']
['Ayesha', 50000, 'Female', 'Karachi']