# Conditional Statement
 * syntax :
     * if conditon :
           statement
       else:
           statement

In [1]:
age = 23

if age >= 18:
    print("Eligible to vote")
else:
    print("Not Eligible to vote")

Eligible to vote

In [2]:
age >= 18

True

In [3]:
if False:
    print("Eligible to vote")
else:
    print("Not Eligible to vote")

Not Eligible to vote

# Relational Operations
    * greater than >
    * less than <
    * greater than or equal too >=
    * less than or equal too <=
    * not equal !=
    * equal too

In [4]:
age = 18

if age >= 18:
    print("Eligible to vote")
else:
    print("Not Eligible to vote")

Eligible to vote

In [5]:
import csv

open_file = open("data.csv", encoding = "utf-8")
read_file = csv.reader(open_file)
dataset = list(read_file)

In [6]:
dataset

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

In [7]:
dataset[1:]

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Humza', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danial', '63', '77', '82']]

In [8]:
marks_chem = []

for i in dataset[1:]: # i : ['101', 'Aliza', '50', '23', '87']
    i[2] = int(i[2]) 
#     print(type(i[2]))
    marks_chem.append(i[2])

In [9]:
print(marks_chem)
dataset

[50, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63]

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', 50, '23', '87'],
 ['102', 'Fareed', 45, '24', '88'],
 ['103', 'Basit', 46, '25', '89'],
 ['104', 'Abdullah', 47, '26', '90'],
 ['105', 'Ali', 48, '27', '67'],
 ['106', 'Mubashir', 49, '28', '68'],
 ['107', 'Waleed', 50, '29', '69'],
 ['108', 'Mansoor', 51, '30', '70'],
 ['109', 'Zain', 52, '31', '71'],
 ['110', 'Mohsin', 53, '67', '72'],
 ['111', 'Shahmeer', 54, '68', '73'],
 ['112', 'Rao', 55, '69', '74'],
 ['113', 'Aurangzeb', 56, '70', '75'],
 ['114', 'Zeeshan', 57, '71', '76'],
 ['115', 'Humza', 58, '72', '77'],
 ['116', 'Hamza', 59, '73', '78'],
 ['117', 'Khalid', 60, '74', '79'],
 ['118', 'Behroz', 61, '75', '80'],
 ['119', 'Justin', 62, '76', '81'],
 ['120', 'Danial', 63, '77', '82']]

In [10]:
s = sum(marks_chem)

In [11]:
l = len(marks_chem)

In [12]:
avg = s/l
avg

53.8

In [13]:
for i in dataset[1:]:
    chem = i[2]
    phy = int(i[3])
    math = int(i[-1])
    percentage = (chem + phy + math) / 300 * 100
    rd = round(percentage,2)
    i.append(rd)

In [14]:
dataset[0].append("Percentage")
dataset

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'Percentage'],
 ['101', 'Aliza', 50, '23', '87', 53.33],
 ['102', 'Fareed', 45, '24', '88', 52.33],
 ['103', 'Basit', 46, '25', '89', 53.33],
 ['104', 'Abdullah', 47, '26', '90', 54.33],
 ['105', 'Ali', 48, '27', '67', 47.33],
 ['106', 'Mubashir', 49, '28', '68', 48.33],
 ['107', 'Waleed', 50, '29', '69', 49.33],
 ['108', 'Mansoor', 51, '30', '70', 50.33],
 ['109', 'Zain', 52, '31', '71', 51.33],
 ['110', 'Mohsin', 53, '67', '72', 64.0],
 ['111', 'Shahmeer', 54, '68', '73', 65.0],
 ['112', 'Rao', 55, '69', '74', 66.0],
 ['113', 'Aurangzeb', 56, '70', '75', 67.0],
 ['114', 'Zeeshan', 57, '71', '76', 68.0],
 ['115', 'Humza', 58, '72', '77', 69.0],
 ['116', 'Hamza', 59, '73', '78', 70.0],
 ['117', 'Khalid', 60, '74', '79', 71.0],
 ['118', 'Behroz', 61, '75', '80', 72.0],
 ['119', 'Justin', 62, '76', '81', 73.0],
 ['120', 'Danial', 63, '77', '82', 74.0]]