# Dictionary
    * Dictionary is a key value pair
    * key data type string, int, float
    * value data type string, int, float, dict, list

In [1]:
employee1 = ["Sharjeel", 20, 45000]
employee1

['Sharjeel', 20, 45000]

In [2]:
employee2 = {"Name":"Danial","Age":22,"Salary":4500}
employee2

{'Name': 'Danial', 'Age': 22, 'Salary': 4500}

In [4]:
employee1[0] = "Sharjeel Ahmed"
employee1

['Sharjeel Ahmed', 20, 45000]

In [6]:
employee2["Name"] = "Danial Gauhar"
employee2

{'Name': 'Danial Gauhar', 'Age': 22, 'Salary': 4500}

In [7]:
employee1.append("Gulshan Branch")
employee1

['Sharjeel Ahmed', 20, 45000, 'Gulshan Branch']

In [9]:
employee2["Location"] = "Jauhar Branch"
employee2

{'Name': 'Danial Gauhar',
 'Age': 22,
 'Salary': 4500,
 'Location': 'Jauhar Branch'}

In [11]:
del employee2["Age"]
employee2

{'Name': 'Danial Gauhar', 'Salary': 4500, 'Location': 'Jauhar Branch'}

In [12]:
club = ["Sharjeel","Abdullah","Mubashir","Sarim"]
club

['Sharjeel', 'Abdullah', 'Mubashir', 'Sarim']

In [14]:
"Sharjeel" not in club

False

In [15]:
fruits = ["Banana","Mango","Peach","Apple","Mango","Peach","Apple",\
         "Mango","Peach","Apple","Banana","Mango","Banana","Mango"]

In [16]:
frq = {"Mango":0}

for i in fruits:
    if i == "Mango":
        frq[i] += 1
frq

{'Mango': 5}

In [20]:
print(fruits)

['Banana', 'Mango', 'Peach', 'Apple', 'Mango', 'Peach', 'Apple', 'Mango', 'Peach', 'Apple', 'Banana', 'Mango', 'Banana', 'Mango']

In [21]:
frq_table = {} # {"Banana":1,"Mango":1}

for i in fruits: #Banana
    if i not in frq_table: # True
        frq_table[i] = 1
    else:
        frq_table[i] += 1

In [22]:
frq_table

{'Banana': 3, 'Mango': 5, 'Peach': 3, 'Apple': 3}