In [32]:
import datetime as dt

In [33]:
date = "21-March-2021"#date = "12/31/18"

In [34]:
pattern = "%d-%B-%Y"#pattern = "%x"

In [35]:
date = dt.datetime.strptime(date, pattern)### string part time

In [36]:
date

datetime.datetime(2021, 3, 21, 0, 0)

In [37]:
print(date)

2021-03-21 00:00:00

In [38]:
type(date)

datetime.datetime

# Attributes of date time
attribute = information \
date.year \
date.month \
date.day \
date.hour \
date.minute 

date.second

In [39]:
date.year

2021

In [40]:
date.month

3

In [41]:
date.day

21

In [42]:
date.hour

0

In [43]:
def read_file(filename):
    from csv import reader
    return list(reader(open(filename, encoding = "utf-8")))
dataset = read_file("datasets/potus_visitors_2015.csv")

In [44]:
header = dataset[0]

In [45]:
header

['name',
 'appt_made_date',
 'appt_start_date',
 'appt_end_date',
 'visitee_namelast',
 'visitee_namefirst',
 'meeting_room',
 'description']

In [46]:
lotus_potus = dataset[1:]

In [47]:
pattern = "%m/%d/%Y %H:%M"

In [48]:
for i in lotus_potus:
    i[3] = dt.datetime.strptime(i[3],pattern)
    i[2] = dt.datetime.strptime(i[2],pattern)

In [49]:
meeting = {}
for i in lotus_potus:
    month=i[2].strftime('%B')### string format time
    if month not in meeting:
        meeting[month] = 1
    else:
        meeting[month] +=1

In [50]:
meeting

{'January': 1248,
 'February': 2165,
 'March': 2262,
 'April': 4996,
 'May': 3013,
 'June': 7743,
 'July': 2930,
 'August': 1350,
 'September': 4416,
 'October': 3669,
 'November': 1133,
 'December': 13029}

In [51]:
current_date = dt.datetime.now()

In [52]:
current_date

datetime.datetime(2021, 5, 11, 2, 33, 3, 60435)

In [53]:
# current_date + 10

In [54]:
date = current_date+dt.timedelta(10)
date

datetime.datetime(2021, 5, 21, 2, 33, 3, 60435)

In [55]:
date.strftime("%d %B %Y")

'21 May 2021'

In [56]:
for i in lotus_potus[:5]:
    print(i)

['Joshua T. Blanton', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Jack T. Gutting', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Bradley T. Guiles', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Loryn F. Grieb', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']
['Travis D. Gordon', '2014-12-18T00:00:00', datetime.datetime(2015, 1, 6, 9, 30), datetime.datetime(2015, 1, 6, 23, 59), '', 'potus', 'west wing', 'JointService Military Honor Guard']

In [57]:
for i in lotus_potus:#start = i[2] & end = i[3]
    i[2] = dt.timedelta( hours = i[2].hour , minutes = i[2].minute)
    i[3] = dt.timedelta( hours = i[3].hour , minutes = i[3].minute)
    duration = i[3] - i[2]
    i.append(duration)
#     lotus_potus.append(duration)
    #lotus_potus.append( (dt.timedelta( hours = i[3].hour , minutes = i[3].minute)) - (dt.timedelta( hours = i[2].hour , minutes = i[2].minute)) )

In [58]:
len(lotus_potus[0])

9

In [59]:
lotus_potus[0]

['Joshua T. Blanton',
 '2014-12-18T00:00:00',
 datetime.timedelta(seconds=34200),
 datetime.timedelta(seconds=86340),
 '',
 'potus',
 'west wing',
 'JointService Military Honor Guard',
 datetime.timedelta(seconds=52140)]

In [62]:
header.append("Meeting Duration")

In [64]:
lotus_potus[-1]

['Grace M. Bauman',
 '2015-12-16T00:00:00',
 datetime.timedelta(seconds=59400),
 datetime.timedelta(seconds=86340),
 '',
 'POTUS/FLOTUS',
 'State Floo',
 '',
 datetime.timedelta(seconds=26940)]