# List Cmprehensive

In [1]:
sqr = [i**2 for i in range(1,10)]

In [2]:
sqr

[1, 4, 9, 16, 25, 36, 49, 64, 81]

# If

In [4]:
lst = [1.2,1.5,4.5,7.3]
greater = [i for i in lst if i>1.5 ]

In [5]:
greater

[4.5, 7.3]

# If/Else

In [8]:
greater = [i if i>1.5 else 0 for i in lst  ]

In [9]:
greater

[0, 0, 4.5, 7.3]

In [13]:
student = [{"Name":"Naim",'Age':100},
           {"Name":"Sarim",'Age':150},
           {"Name":"Huzaifa",'Age':19}]

In [14]:
def age(d):
    return age["Age"]

age = lambda x: x["Age"]

In [16]:
sorted(student,key = age,reverse = True)

[{'Name': 'Sarim', 'Age': 150},
 {'Name': 'Naim', 'Age': 100},
 {'Name': 'Huzaifa', 'Age': 19}]