select *
from employee
where first_name like ( ma_k // mark% // %mark% )

select * from employee where hire_date between "1990-01-01" and "2000-01-01";
select * from employee where hire_date > "1990-01-01";
select distinct first_name from employees;

select e.emp_no , CONCATE(e.first_name,' ',e.last.name) "Full Name"
from 
employee e
Where e.emp_no in (select dm.emp_no from dept_manager dm)