In [1]:
import datetime as dt

In [2]:
date = "21-March-2021"
date

'21-March-2021'

In [3]:
pattern = "%d-%B-%Y"

In [4]:
date = dt.datetime.strptime(date, pattern) ### string part time 
print(date)

2021-03-21 00:00:00

In [5]:
type(date)

datetime.datetime

# Attributes of Date time
    attributes gives only information

In [6]:
date.year

2021

In [7]:
date.month

3

In [8]:
date.day

21

In [9]:
def read_file(filename):
    from csv import reader
    return list(reader(open(filename, encoding = "utf-8")))

In [10]:
dataset = read_file("potus_visitors_2015.csv")

In [11]:
header = dataset[0]
dataset = dataset[1:]

In [12]:
pattern = "%m/%d/%Y %H:%M"

In [13]:
for i in dataset:
    i[2] = dt.datetime.strptime(i[2],pattern)
#     print(i[2])

In [14]:
for i in dataset:
    i[3] = dt.datetime.strptime(i[3],pattern)

In [15]:
dataset[:5]

[['Joshua T. Blanton',
  '2014-12-18T00:00:00',
  datetime.datetime(2015, 1, 6, 9, 30),
  datetime.datetime(2015, 1, 6, 23, 59),
  '',
  'potus',
  'west wing',
  'JointService Military Honor Guard'],
 ['Jack T. Gutting',
  '2014-12-18T00:00:00',
  datetime.datetime(2015, 1, 6, 9, 30),
  datetime.datetime(2015, 1, 6, 23, 59),
  '',
  'potus',
  'west wing',
  'JointService Military Honor Guard'],
 ['Bradley T. Guiles',
  '2014-12-18T00:00:00',
  datetime.datetime(2015, 1, 6, 9, 30),
  datetime.datetime(2015, 1, 6, 23, 59),
  '',
  'potus',
  'west wing',
  'JointService Military Honor Guard'],
 ['Loryn F. Grieb',
  '2014-12-18T00:00:00',
  datetime.datetime(2015, 1, 6, 9, 30),
  datetime.datetime(2015, 1, 6, 23, 59),
  '',
  'potus',
  'west wing',
  'JointService Military Honor Guard'],
 ['Travis D. Gordon',
  '2014-12-18T00:00:00',
  datetime.datetime(2015, 1, 6, 9, 30),
  datetime.datetime(2015, 1, 6, 23, 59),
  '',
  'potus',
  'west wing',
  'JointService Military Honor Guard']]

In [16]:
print(dataset[0][2].month)

1

In [17]:
freq = {}
for i in dataset:
    month = i[2].strftime("%B")
    if month in freq:
        freq[month] += 1
    else:
        freq[month] = 1
freq

{'January': 1248,
 'February': 2165,
 'March': 2262,
 'April': 4996,
 'May': 3013,
 'June': 7743,
 'July': 2930,
 'August': 1350,
 'September': 4416,
 'October': 3669,
 'November': 1133,
 'December': 13029}

In [18]:
print(freq)

{'January': 1248, 'February': 2165, 'March': 2262, 'April': 4996, 'May': 3013, 'June': 7743, 'July': 2930, 'August': 1350, 'September': 4416, 'October': 3669, 'November': 1133, 'December': 13029}

In [19]:
type(dataset[0][2].strftime("%d-%B-%Y")) ### string format time

str

In [20]:
current_date = dt.datetime.now()
print(current_date)

2021-03-28 15:31:30.979260

In [21]:
###current_date + 10

In [22]:
date = current_date + dt.timedelta(20,weeks = 2)
date

datetime.datetime(2021, 5, 1, 15, 31, 30, 979260)

In [23]:
date.strftime("%d %B %Y")

'01 May 2021'

In [24]:
start = dataset[0][2]
end = dataset[0][3]
###date = current_date + dt.timedelta(20,weeks = 2)

In [25]:
start = dt.timedelta(hours= start.hour, minutes = start.minute)
start

datetime.timedelta(seconds=34200)

In [26]:
end = dt.timedelta(hours= end.hour, minutes = end.minute)
end

datetime.timedelta(seconds=86340)

In [27]:
dur = end - start
dur

datetime.timedelta(seconds=52140)

In [28]:
print(dur)

14:29:00